
<h1>投稿一覧</h1>

<table>
  <thead>
    <tr>
      <th>内容</th>
      <th>ユーザー名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.content %></td>
        <td><%= blog.user.name %></td>
        <td><%= link_to '詳細', blog %></td>
        <td><%= link_to '編集', edit_blog_path(blog) %></td>
        <td><%= link_to '削除', blog, method: :delete, data: { confirm: '削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '投稿する', new_blog_path %>
